* {
    /* font-family: "Roboto", Arial, sans-serif; */
    font-family: "Montserrat", sans-serif;
   
  
  
  /* background-color: rgb(245, 245, 248); */
}

/* .ProductCol{
 width: auto;

 height: auto;
 background-color: #F5F5F8;
} */
/* .img1{
width: 210px;
height: 250px;
padding-top:30px;
; */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px); /* Lift the card */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.Btnbuy {
  background-color: black;
  color: white;
  width: 99%;
  transition: background-color 0.3s ease;
}

.Btnbuy:hover {
  background-color: rgba(0, 0, 0, 0.882);
  color: white;
  width: 99%;
}

.Btnbuy:active {
  background-color: rgba(0, 0, 0, 0.276);
  color: white;
  width: 99%;
}

.textPrice {
  font-size: 18px;
}
.textPrice1 {
  font-size: 12px;
}



/* From Uiverse.io by alexmaracinaru */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


#appleimg{

}

.text-overlay{
  position: absolute;
  top: 18%; /* Position text in the center */
  left: 40%;
  transform: translate(-50%, -50%); /* Adjust text to be centered */
  color: white; /* Text color */
  font-size: 24px; /* Font size */
  font-weight: bold; /* Font weight */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.341); 
}
.text-black{
  color: black;

}
#Vivo{
  color: rgb(85, 26, 139);
}

.Navtext{
  font-weight:500 ;
 
  transition: color 0.3s ease, transform 0.3s ease;
}

.Navtext:hover{
   color: black

  

}

.fa-user:hover , .fa-cart-shopping:hover , .fa-magnifying-glass:hover
{
  text-shadow: 0px 0px 15px rgba(31, 31, 31, 0.946); 
}


.offerImg{
  transition: transform 0.5s ease;
}
.offerImg:hover{
  transform: scale(1.02);
}


.image{
  border-radius: 32px;
}

/* From Uiverse.io by alexmaracinaru */ 
.PocoBtn{
  background:#FFD400;
  font-weight: 600;
  transition: color 0.5s ease;
  border-radius: 0;
}
.PocoBtn:hover{
  background:#ffd500e9;
  font-weight: 600;
  color:black;
  border-radius: 0;
}

@media (max-width: 768px) {
  .PocoBtn{
    
   display: none;
  }

}




/* From Uiverse.io by alexmaracinaru */ 
.card-1 {
  width: auto;
  background: white;
  padding: 1px;
  border-radius: 6px;
}

.card-image-1 {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: auto;
  border-radius: 6px 6px 0 0;
}

.card-image-1:hover {
  transform: scale(0.98);
}

.category-1 {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category-1:hover {
  cursor: pointer;
}

.heading-1 {
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 20px;
}

.heading-1:hover {
  cursor: pointer;
}

.author-1 {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name-1 {
  font-weight: 600;
}

.name-1:hover {
  cursor: pointer;
}

.radius{
  border-radius: px;
}

